<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="nasaApiKey" value="WsYeuuaywUAJILhko8CfVQwj38v867sG32f8QseL"/>
    <add key="apod" value="https://api.nasa.gov/planetary/apod?api_key=" />
    <add key="neo" value="1" />
    <add key="Key2" value="2" />
  </appSettings>
</configuration>